<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>星值</title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="__CSS__/amazeui.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<link rel="stylesheet" type="text/css" href="__CSS__/W_style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jacob_style.css" />
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1462325985_4954245.css" />
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1462331973_0941706.css" />
</head>
<body>
	<block name="body"></block>


<script src="__JS__/jquery-1.9.1.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script src="__JS__/common.js"></script>
<script type="text/javascript">

</script>
<block name="script">

</block>
</body>
</html>
