
<header data-am-widget="header" class="am-header am-header-default am_header_index">
	<div class="am-header-left am-header-nav am_index_left ">
		<a  onclick="javascript:window.history.back(-1);"> 
			<i class="iconfont icon-back1"></i>
		</a>
	</div>

	<h1 class="am-header-title">
		<a href="#title-link" class="">{$pageTitle|default='资讯详情'}</a>
	</h1>
	
	<div class="am-header-nav am_index_right">
		<a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0}"><font class=""><i class="iconfont icon-fenxiang p1"></i></font></a>
		<a href="#" id="but">
			<span class="">
				<i class="iconfont icon-sanheng p1"></i>
				<i class="iconfont icon-jiantou p2"></i>
			</span>
		</a>
	</div>

</header>
<!--header-->