<meta charset="utf-8">
<title>{:C('WEB_SITE_TITLE')}</title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="__CSS__/amazeui.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<link rel="stylesheet" type="text/css" href="__CSS__/W_style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jacob_style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1462328200_4953718.css">
<block name="style"></block>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}