<extend name="Public/base" />

<block name="body">

				
				<div class="main-content" >
					<div class="wrap-content container" id="container">
						<!-- start: USER PROFILE -->
						<div class="container-fluid container-fullw bg-white">
							<div class="row">
								<div class="col-md-12">
									<div class="tabbable">
										<ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
											<li class="active">
												<a data-toggle="tab" href="#panel_overview">
													访问授权
												</a>
											</li>
											<li>
												<a href="{:U('AuthManager/category',array('group_name'=>I('group_name') ,'group_id'=> I('group_id')))}">分类授权</a>
											</li>
											<li>
												<a href="{:U('AuthManager/user',array('group_name'=>I('group_name') ,'group_id'=> I('group_id')))}">成员授权</a>
											</li>
											<li style="float:right;">
												<select class="form-control"  name="group" style="height:45px;">
													<volist name="auth_group" id="vo">
														<option value="{:U('AuthManager/access',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" <eq name="vo['id']" value="$this_group['id']">selected</eq> >{$vo.title}</option>
													</volist>
												</select>
											</li>
										</ul>
										<div class="tab-content">
											<div id="panel_overview" class="tab-pane fade in active">
												<div class="row">
													<div class="col-sm-12 col-md-12">
														<form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST" class="form-horizontal auth-form">
															<volist name="node_list" id="node" >
																<div class="panel-body node_out">
							                                        <div class="checkbox clip-check check-primary checkbox-inline">
																		<input type="checkbox" class="auth_rules rules_all" id="checkbox4{$node.id}" name="rules[]" value="<?php echo $main_rules[$node['url']] ?>">
																		<label for="checkbox4{$node.id}">
																			{$node.title}
																		</label>
																	</div>
																	<present name="node['child']">
																	<volist name="node['child']" id="child" >
																	<div class="panel-body node_mid">
								                                        <div class="checkbox clip-check check-primary checkbox-inline" <notempty name="child['tip']">title='{$child.tip}'</notempty>>
																			<input type="checkbox" class="auth_rules rules_row" id="checkbox4{$child.id}" name="rules[]" value="<?php echo $auth_rules[$child['url']] ?>">
																			<label for="checkbox4{$child.id}">
																				{$child.title}
																			</label>
																		</div>
								                                       <notempty name="child['operator']">
								                                           <div class="panel-body node_in">
								                                               <volist name="child['operator']" id="op">
																					<div class="checkbox clip-check check-primary checkbox-inline" <notempty name="op['tip']">title='{$op.tip}'</notempty>>
																						<input type="checkbox" class="auth_rules" id="checkbox4{$op.id}" name="rules[]" value="<?php echo $auth_rules[$op['url']] ?>">
																						<label for="checkbox4{$op.id}">
																							{$op.title}
																						</label>
																					</div>
								                                               </volist>
								                                           </div>
								                                       </notempty>
																	</div>
																	</volist>
																	</present>
																</div>
															</volist>
										
													        <input type="hidden" name="id" value="{$this_group.id}" />
										                    <button type="submit" class="btn btn-o btn-primary ajax-post" target-form="auth-form">
																确 定
															</button>
															<button type="submit" class="btn btn-o btn-default" onclick="javascript:history.back(-1);return false;">
																返 回
															</button>
													    </form>
													</div>
												</div>
											</div>
											<div id="panel_edit_account" class="tab-pane fade">
											</div>
											<div id="panel_projects" class="tab-pane fade">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end: USER PROFILE -->
					</div>
				</div>
		
</block>
<block name="script">
		<!-- start: MAIN JAVASCRIPTS -->
		<script src="__MODULE__/vendor/jquery/jquery.min.js"></script>
		<script src="__MODULE__/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="__MODULE__/vendor/modernizr/modernizr.js"></script>
		<script src="__MODULE__/vendor/jquery-cookie/jquery.cookie.js"></script>
		<script src="__MODULE__/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script src="__MODULE__/vendor/switchery/switchery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: CLIP-TWO JAVASCRIPTS -->
		<script src="__MODULE__/assets/js/main.js"></script>
		<!-- start: JavaScript Event Handlers for this page -->
		<script>
		jQuery(document).ready(function() {
			Main.init();
		});
		</script>
		<!-- end: JavaScript Event Handlers for this page -->
		<!-- end: CLIP-TWO JAVASCRIPTS -->
		<script type="text/javascript" src="__STATIC__/qtip/jquery.qtip.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/qtip/jquery.qtip.min.css" media="all">
		<script>
		    +function($){
		        var rules = [{$this_group.rules}];
		        $('.auth_rules').each(function(){
		            if( $.inArray( parseInt(this.value,10),rules )>-1 ){
		                $(this).prop('checked',true);
		            }
		            if(this.value==''){
		                $(this).closest('div').remove();
		            }
		        });
	
		        //全选节点
		        $('.rules_all').on('change',function(){
		            $(this).closest('.node_out').find('.node_mid').find('input').prop('checked',this.checked);
		        });
		        $('.rules_row').on('change',function(){
		            $(this).closest('.node_mid').find('.node_in').find('input').prop('checked',this.checked);
		        });
	
		        $('.checkbox').each(function(){
		            $(this).qtip({
		                content: {
		                    text: $(this).attr('title'),
		                    title: $(this).text()
		                },
		                position: {
		                    my: 'bottom center',
		                    at: 'top center',
		                    target: $(this)
		                },
		                style: {
		                    classes: 'qtip-dark',
		                    tip: {
		                        corner: true,
		                        mimic: false,
		                        width: 10,
		                        height: 10
		                    }
		                }
		            });
		        });
	
		        $('select[name=group]').change(function(){
					location.href = this.value;
		        });
		        //导航高亮
		    }(jQuery);
		</script>
</block>
