<!--  <empty name="uid">

      <header data-am-widget="header" class="am-header am-header-default select_city_header">
        <h1 class="am-header-title">
            <a href="#title-link" class="">
               <img src="__IMG__/logo.png" width="40" height="25" />
            </a>
        </h1>

        <div class="am-header-right am-header-nav pr tr">
            <a class="select_header_info position" >
              <img src="__IMG__/W_icon2.png" width="18" height="18" id="but" />
            </a>         
        </div>
      </header>

    <else/>


      <header data-am-widget="header" class="am-header am-header-default select_city_header">
        <h1 class="am-header-title">
            <a href="#title-link" class="">
               <img src="__IMG__/logo.png" width="40" height="25" />
            </a>
        </h1>
      
        <div class="am-header-right am-header-nav pr tr">
            <a class="select_header_info position" href="{:U('UserCenter/index')}">
              <img src="__IMG__/pic_icon1.png" width="18" height="18" id="but" />
            </a>         
        </div>
      </header>

</empty> -->
<header data-am-widget="header" class="am-header am-header-default select_city_header">
  <h1 class="am-header-title">
      <a href="#title-link" class="">
         <img src="__IMG__/logo.png" width="40" height="25" />
      </a>
  </h1>

  <div class="am-header-right am-header-nav pr tr">
      <a class="select_header_info position" >
        <img src="__IMG__/W_icon2.png" width="18" height="18" id="but" />
      </a>         
  </div>
</header>