<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>星值</title>
<meta content="" name="keywords">
<meta content="" name="description">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" href="__CSS__/amazeui.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<link rel="stylesheet" type="text/css" href="__CSS__/W_style.css">
<link rel="stylesheet" type="text/css" href="__CSS__/jacob_style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_1462331973_0941706.css">
</head>
<body >
<div class="body_page forget_color">  
    <header data-am-widget="header" class="am-header am-header-default  am_header_index">
      <div class="am-header-left am-header-nav am_index_left ">
      <a class="">
         <i class="iconfont icon-back1" onclick="javascript:window.history.back(-1);"></i> 
      </a>
    </div>
    
      <h1 class="am-header-title">
          <a href="#title-link" class="">
            忘记密码
          </a>
      </h1>
    
      <div class="am-header-nav am_index_right" >
      </div>
    
    </header><!--header-->
    <div class="page_con">
      <form method='post' action='{:U("Api/User/resetPasswordByMobile")}' class='operateForm'>
      <ul class="clearfix forgot_password_ul">
      	<li>
      		<label>手机号码</label>
      		<input type="text" name="mobile" placeholder="请输入手机号" />
      		<a class="sendVerifyCode">获取验证码</a>
        </li>
      	<li>
      		<label>验证码</label>
      		<input type="text" name="verify" placeholder="请输入验证码" />
      	</li>
      	<li>
      		<label>新密码</label>
      		<input type="text" name="new_password" placeholder="请输入新密码" />
      	</li>
        <li>
      		<label>确认新密码</label>
      		<input type="text" name="repassword" placeholder="确认新密码" />
      	</li>
      </ul>
      <input type="hidden" name="type" value="2">    
      <div class="forgot_password_set"><a>重置密码</a></div>
      </form>
    </div><!--page_con-->
    
<include file="Public/tip" />
</div><!--body_page--> 

<script src="__JS__/jquery-1.9.1.min.js"></script>
<script src="__JS__/amazeui.min.js"></script>
<script src="__JS__/common.js"></script>
<script type="text/javascript" src="__JS__/sendVerifyCode.js" charset="UTF-8"></script>
<script>
$('.forgot_password_set').click(function(){
    $("form").submit();
});
    
    
    
$("form").submit(function(){
        var self = $(this);
        $.post(self.attr("action"), self.serialize(), success, "json");
        //toastload('修改中');
        return false;

        function success(data){
            if(!data.errcode){
                toastshow(data.errmsg);
                location.href='http://'+window.location.host+'/Mobile/User/login';
            }else{
                toastshow(data.errmsg);
            }
        }
});
</script>

</body>
</html>
