<tr style="background: rgb(255, 255, 255);">
    <th>身份证：
            </th>
    <td colspan="20">
        <div class="upload-img-box">
            <div class="upload-pre-item">
                    <img src="{$realname_info.id_card_front_url}">  
            </div>
            <div class="upload-pre-item">
                    <img src="{$realname_info.id_card_back_url}">  
            </div>
        </div>
    </td>
</tr>


<if condition="$uinfo.profession_type eq 1">
    <tr style="background: rgb(255, 255, 255);">
        <th>执业医师证/执业护士证：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.doctor_nurse_certificate_url}">   
                </div>
            </div>
        </td>
    </tr>
    <tr style="background: rgb(255, 255, 255);">
        <th>医师资格证/护士资格证：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.doctor_nurse_qualification_certificate_url}">   
                </div>
            </div>
        </td>
    </tr>
<elseif condition="$uinfo.profession_type eq 2"/>
    <tr style="background: rgb(255, 255, 255);">
        <th>营养师/康复师/心理咨询师资格证书：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.d_t_p_qualification_certificate}">   
                </div>
            </div>
        </td>
    </tr>
<elseif condition="$uinfo.profession_type eq 3"/>
    <tr style="background: rgb(255, 255, 255);">
        <th>个人专长图片：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.personal_specialty_pic_url}">   
                </div>
            </div>
        </td>
    </tr>
    <tr style="background: rgb(255, 255, 255);">
        <th>个人专长视频：
                </th>
        <td colspan="20">
            <!--<a href="{:$qiniu->downLink($realname_info['personal_specialty_video'])}" target="_blank">{$realname_info.personal_specialty_video}</a>-->
            <video src="{:$qiniu->downLink($realname_info['personal_specialty_video'])}" controls="controls"></video>
        </td>
    </tr>
<elseif condition="$uinfo.profession_type eq 4"/>
    <tr style="background: rgb(255, 255, 255);">
        <th>产品合格证：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.product_certificate_url}">   
                </div>
            </div>
        </td>
    </tr>
    <tr style="background: rgb(255, 255, 255);">
        <th>产品图片：
                </th>
        <td colspan="20">
            <volist name="realname_info.product_pic_url" id="vo">
                <div class="upload-img-box">
                    <div class="upload-pre-item">
                        <img src="{$vo}">   
                    </div>
                </div>
            </volist>
        </td>
    </tr>
<elseif condition="$uinfo.profession_type eq 5"/>
    <tr style="background: rgb(255, 255, 255);">
        <th>营业执照：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.business_licence_url}">   
                </div>
            </div>
        </td>
    </tr>
    <tr style="background: rgb(255, 255, 255);">
        <th>资格证书：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.qualification_certificate_url}">   
                </div>
            </div>
        </td>
    </tr>
    <tr style="background: rgb(255, 255, 255);">
        <th>机构证书：
                </th>
        <td colspan="20">
            <div class="upload-img-box">
                <div class="upload-pre-item">
                    <img src="{$realname_info.institutional_certificate_url}">   
                </div>
            </div>
        </td>
    </tr>
</if>


<tr style="background: rgb(255, 255, 255);">
    <th>审核状态：
            </th>
    <td colspan="20">
        {$uinfo.realname_status_exp}
        <eq name="uinfo.realname_status" value="3">
                {$uinfo.realname_fail_reason}
        </eq>
    </td>
</tr>